# RapidAPI (api-nba-v1)
RAPIDAPI_KEY = 'XXXXXX'
RAPIDAPI_HOST = 'api-nba-v1.p.rapidapi.com'
 
# Database credentials
DB_HOST = 'XXXXXX'
DB_NAME = 'XXXXXX'
DB_USER = 'XXXXXX'
DB_PASS = 'XXXXXX'